html {
    box-sizing: border-box;
    color: $color-font;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    @extend %body-gradient;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Domine', serif;
    font-size: 1.6rem;
}
main {
    padding: $padding-medium 0;
}
a {
    text-decoration: none;
    color: $color-font;
    &:visited {
        color: $color-font;
    }
}
p {
    margin: 1rem;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
button {
    @include button();
    font-family: inherit;
}
input, select {
    border: $border;
    &:focus-visible {
        outline-width: 0;
        background-color: $color-sand-gradient;
    }
}
.header_medium {
    @include header;
    font-size: 2rem;
}
.header_small {
    @include header;
    font-size: 1.8rem;
}
