$color-blue-gradient:  rgb(164, 164, 245);
$color-sand-gradient:  rgb(237, 206, 112);
$color-font: rgb(81, 81, 81);
$color-bag: rgb(116, 99, 46);
$color-primary-light: rgb(255, 255, 255);
$color-minor-light: rgba(255, 255, 255, 0.5);
$color-headers-bkg: rgba(220, 164, 245, 0.5);

$font-header: 2rem;
$font-body: 1.6rem;

$radius-small: 1rem;
$radius-big: 5rem;

$padding-tiny: 0.5rem;
$padding-small: 1rem;
$padding-medium: 2rem;

$margin-tiny: 0.5rem;
$margin-small: 1rem;
$margin-medium: 2rem;

$width-card-small: 320px;
$width-card-tiny: 260px;
$width-small: 360px;
$width-medium: 500px;

$height-card-small: 260px;
$height-card-tiny: 200px;

$border: 2px solid $color-primary-light;
$border-small: 1px solid #FAEBD7;
$border-small-focus: 1px solid rgb(75, 75, 75);
