$color-blue-gradient:  rgb(164, 164, 245);
$color-sand-gradient:  rgb(237, 206, 112);
$color-font: rgb(81, 81, 81);
$color-bag: rgb(116, 99, 46);

$font-header: 3rem;
$font-body: 2rem;

$radius-small: 1rem;

$padding-small: 1rem;
$padding-tiny: 0.5rem;

$margin-tiny: 0.5rem;
$margin-block: 2rem;

$max-radius: 50px;

$border: 2px solid white;
$border-small-focus: 1px solid rgb(75, 75, 75);
$border-small: 1px solid antiquewhite