$color-blue-gradient:  rgb(164, 164, 245);
$color-sand-gradient:  rgb(237, 206, 112);
$color-font: rgb(81, 81, 81);
$color-bag: rgb(116, 99, 46);

$radius-small: 1rem;

$padding-small: 1rem;
$padding-tiny: 0.5rem;