@mixin button($var-radius: $radius-big, $var-font-size: inherit) {
    border: $border-small;
    border-radius: $var-radius;
    padding: 0 $padding-small;
    background-color: $color-blue-gradient;
    cursor: pointer;
    font-size: $var-font-size;

    @extend %transition-fast;

    &:hover {
        @extend %transform-hover;
    }

    &:active {
        @extend %transform-active;
    }
}