%body-gradient {
    background: linear-gradient(to left top, $color-blue-gradient, $color-sand-gradient);
}

%transform-hover {
    transform: scale(1.15);
}

%transform-active {
    transform: translateY(0.3rem) scale(1.15);
}

%transition {
    transition: all 0.3s ease-out;
}

%transition-fast {
    transition: all 0.1s ease-out;
}

%border {
    border: 2px solid $color-primary-light;
}