.sorting-box {
    display: flex;
}

.sorting-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;
    padding: $padding-small;
}

.sorting-option {
    font-family: inherit;
}

.sorting {
    margin: 0 $margin-tiny;
    @extend %border;
    width: 100%;

    &__menu {
        border-radius: $radius-small;
        outline-color: transparent;
        background-color: $color-primary-light;
        cursor: pointer;
        font-family: inherit;
    }

    &__total-found {
        margin: auto 0;
    }

    &__search {
        border-radius: $radius-small;
        text-align: center;
        font-family: inherit;
    }

    &__view-buttons {

        button {
            font-size: $font-header;
        }
    }

    &__big-view_selected {
        background-color: $color-headers-bkg;
    }

    &__small-view_selected {
        background-color: $color-headers-bkg;
    }

    &__card-container {
        justify-content: center;
        display: grid;
        grid-gap: $padding-small;
        padding: $padding-small;
    }

    &__card-container_small {
        grid-template-columns: repeat(auto-fill, $width-card-small);
    }

    &__card-container_big {
        grid-template-columns: 1fr;
    }

    &__no-products {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        font-size: $font-header-big;
    }
}
