.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    @extend %border;
    border-bottom: none;
    border-radius: $radius-small $radius-small 0 0;
    padding: $padding-small;
}
.footer__logo {
    display: block;
    align-self: center;
    margin-left: $padding-tiny;
    background: no-repeat;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    height: 30px;
    width: 70px;
}
.footer__github {
    display: block;
    align-self: center;
    padding: 0 $padding-tiny;
}
