.footer {
  align-self: center;
  border: 2px solid white;
  border-radius: $radius-small;

  padding-right: $padding-small;
  padding-left: $padding-small;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: fit-content;
}
.footer__logo {
  display: block;
  height: 30px;
  width: 70px;
  align-self: center;
  background: no-repeat;
  background-image: url(https://rs.school/images/rs_school_js.svg);
}
.footer__github {
  display: block;
  align-self: center;
  padding: 0 $padding-tiny;
}