.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: $padding-tiny $padding-small;
}
.header__logo {
  font-size: 6rem;
  text-decoration: none;
  color: $color-bags;
  display: flex;
}
.header__store-name {
  font-size: 2rem;
  align-self: flex-end;
}
.header__goods-number {
  align-self: flex-end;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 1.6rem;
  &::after {
    content: ' 🛒';
  }
}