.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %border;
    border-radius: 0 0 $radius-small $radius-small;
    padding: $padding-tiny $padding-small;
}
.header__logo {
    display: flex;
    text-decoration: none;
    font-size: 6rem;
}
.header__logo-bag {
    color: $color-bag;
}
.header__store-name {
    align-self: center;
    font-size: 2rem;
}
.header__total {
    font-size: 1.8rem;
}
.header__goods-number {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    &:after {
        content: ' 🛒';
    }
}
